[project]
	description = Automatically exported from code.google.com/p/multitouch3d
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zzez12
[access "refs/for/refs/*"]
	read = group user/zzez12
	push = group user/zzez12
	label-Code-Review = -2..+2 group user/zzez12
	label-Verified = -1..+1 group user/zzez12
	rebase = group user/zzez12
	removeReviewer = group user/zzez12
	submit = group user/zzez12
[access "refs/heads/*"]
	read = group user/zzez12
	create = group user/zzez12
	push = +force group user/zzez12
	pushMerge = group user/zzez12
[access "refs/tags/*"]
	push = +force group user/zzez12
	pushTag = group user/zzez12
	pushSignedTag = group user/zzez12
